*.h5
*.pt
.DS_Store
/results
/demo/plots
/results
/__pycache__
/venv
/legacy
/data/DFaust_67
/data/Dyna
/data/__pycache__
/data/old_data
/body_models
.DS_Store
/results
*.pyc
results/.DS_Store
/tests/__pycache__
data/.DS_Store
imgui.ini
/demo/.conda
/assets/visualization_gifs
data/smpl_50004_punching/50004_punching.blend
data/smpl_50004_punching/50004_punching.blend1
data/smpl_50004_punching/sample_working.obj
/data/elephant
/data/smpl_50004_punching
