*.h5
*.npz
*.pt
.DS_Store
/results
/demo/plots
/results
/__pycache__
/venv
/legacy
/data
/body_models
.DS_Store
/results
*.pyc
/demo/.conda
demo/vispy_sample_2d_circles.py
demo/vispy_picking.py
results/.DS_Store
/tests/__pycache__
/tests/__pycache__
tach.toml
data/.DS_Store
data/.DS_Store
